body {
	font-family: "Cutive Mono", monospace;
	background-color: #000;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.clock {

	font-size: 10vw;
	color: #696969;
	animation: animating 5s ease-in-out infinite;
}

#time {
	font-size: 19vw;
}

#date {
	font-size: 6vw;
	margin-top: 15%;
}

@keyframes animating {
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(0.95);
		color: #000;
	}
	100%{
		transform: scale(1);
	}
}